# Processing DataFrames with Pyspark

This is the notebook for processing data with Pyspark, and compare code + running time with the same process on Pandas (available on `processing_with_pandas.ipynb`).

In [16]:
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import concat, sum, col, asc, desc
from pyspark.sql import DataFrame

spark = SparkSession.builder.appName("Pyspark tutorial").getOrCreate()
spark

In [8]:
df = spark.read \
    .option("escape","\"") \
    .csv('tweets.csv', inferSchema=True)
df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string, _c19: string, _c20: string, _c21: string, _c22: string, _c23: string, _c24: string, _c25: string]

In [9]:
type(df)

pyspark.sql.dataframe.DataFrame

In [10]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)

In [11]:
df.head(5)

[Row(_c0='593932392663912449', _c1='RT @morningJewshow: Speaking about Jews and comedy tonight at Temple Emanu-El in San Francisco. In other words, my High Holidays.', _c2='"<a href=\\"http://tapbots.com/tweetbot\\" rel=\\"nofollow\\">Tweetbot for iÎŸS</a>"', _c3='678033', _c4=None, _c5='0', _c6='0', _c7=None, _c8='593932168524533760', _c9='\\N', _c10='\\N', _c11=None, _c12=None, _c13='1', _c14='0', _c15='0', _c16=None, _c17=None, _c18='\\N', _c19='0', _c20='0', _c21='1', _c22='Fri May 01 00:18:11 +0000 2015', _c23='2015-05-01 02:18:11', _c24='2015-05-01 12:57:19', _c25='2015-05-01 12:57:19'),
 Row(_c0='593895316719423488', _c1="This age/face recognition thing..no reason platforms can't have changing avatars of our actual faces to increase affect/better communication", _c2='"<a href=\\"http://twitter.com\\" rel=\\"nofollow\\">Twitter Web Client</a>"', _c3='678033', _c4=None, _c5='0', _c6='0', _c7=None, _c8='0', _c9='\\N', _c10='\\N', _c11=None, _c12=None, _c13='0', _c14='0', _c15='0', _c16=None, _c17=None, _c18='\\N', _c19='0', _c20='0', _c21='0', _c22='Thu Apr 30 21:50:52 +0000 2015', _c23='2015-04-30 23:50:52', _c24='2015-05-01 12:57:19', _c25='2015-05-01 12:57:19'),
 Row(_c0='593880638069018624', _c1="Only upside of the moment I can think of is that network news hasn't booked their #Baltimore panels with Bill Cosby.\\", _c2=None, _c3=None, _c4=None, _c5=None, _c6=None, _c7=None, _c8=None, _c9=None, _c10=None, _c11=None, _c12=None, _c13=None, _c14=None, _c15=None, _c16=None, _c17=None, _c18=None, _c19=None, _c20=None, _c21=None, _c22=None, _c23=None, _c24=None, _c25=None),
 Row(_c0='\\', _c1=None, _c2=None, _c3=None, _c4=None, _c5=None, _c6=None, _c7=None, _c8=None, _c9=None, _c10=None, _c11=None, _c12=None, _c13=None, _c14=None, _c15=None, _c16=None, _c17=None, _c18=None, _c19=None, _c20=None, _c21=None, _c22=None, _c23=None, _c24=None, _c25=None),
 Row(_c0='#fb"', _c1='"<a href=\\"http://twitter.com\\" rel=\\"nofollow\\">Twitter Web Client</a>"', _c2='678033', _c3=None, _c4='0', _c5='0', _c6=None, _c7='0', _c8='\\N', _c9='\\N', _c10=None, _c11=None, _c12='0', _c13='0', _c14='0', _c15=None, _c16=None, _c17='\\N', _c18='2', _c19='0', _c20='0', _c21='Thu Apr 30 20:52:32 +0000 2015', _c22='2015-04-30 22:52:32', _c23='2015-05-01 12:57:19', _c24='2015-05-01 12:57:19', _c25=None)]

In [14]:
from datetime import datetime

start = datetime.now()

print(df.count())

result = df.groupby(df._c0) \
  .agg(sum("salary").alias("sum_salary")) \
  .sort(df.department.asc()) \
  .head(10)

print("Consumed time:", datetime.now() - start)

9401767

AttributeError: 'DataFrame' object has no attribute 'department'

In [ ]:
result